* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    outline: 2px solid black;
    background-image: url(./img/background.png);
    background-size: cover;
    background-size: 512px 100%;
    background-repeat: no-repeat;
}

.sect-title {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1.1;
}

/* Header */
.banner-img {
max-width: 512px;
width: 100%;
position: absolute;
top: 0;
left: 0;
}

/* Buttons + Description + 1st title*/
.description-0 {
    position: absolute;
    top: 120px;
    left: 20px;
    color: white;
    width: 472px;
}

.section-0 {
    position: absolute;
    top: 200px;
    left: 20px;
    color: white;
}

.title-0 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}