* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 512px;
    outline: 2px solid black;
    background-image: url(./img/background.png);
    background-size: cover;
    background-size: 512px 100%;
    background-repeat: no-repeat;
}
.banner-img {
    max-width: 512px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}